main{
    background-color: black;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    height:  auto;
}
.dropDown{
    margin-top: 12px;
}
.senderMe{
    display: flex;
    justify-content: right;
    margin: 5px;
}
.senderOneSide{
    display: flex;
    margin: 5px;
}
.SendArea{
    display: flex;
    margin-top: 100px;
    margin-bottom: 10px;   
}
.txtInput{
    margin-right: 10px;
}